@media only screen and (max-width:400px){
    .mdc-drawer{
        height: auto !important;
        width: 100vw !important;
        margin-bottom: 50px;
        text-align: center;
    }

    .mdc-drawer__header{
        display: none;
    }

    div.section{
        height: auto;
        width: 100vw !important;
        margin: 0 15px;
        text-align: center;
    }
    
    .mdc-list p, .mdc-list h6{
        align-self: flex-start !important;
        margin-left: 7px !important;
    }

    .mdc-slider{
        width: 300px !important;
    }
}

@media only screen and (min-width:401px) and (max-width:960px){
    .mdc-drawer{
        height: auto !important;
        width: 100vw !important;
        text-align: center;
    }

    .mdc-drawer__header{
        display: none;
    }

    div.section{
        height: auto;
        width: 50vw !important;
        margin: 0 15px;
        text-align: center;
    }
    
    .mdc-list p, .mdc-list h6{
        margin-left: 0 !important;
    }

    .mdc-slider{
        width: 350px !important;
    }
}

.section{
    width: 100%;
    height: auto;
}

.side-nav{
    height: calc(100vh - 72px);
    width: 240px;
    background-color: #1F1F1F;
}

.mdc-drawer__header h3, .mdc-list h6{
    color: #DFDFDF;
}

.mdc-drawer__header h3{
    margin-top: 7px;
}

.mdc-drawer__content{
    display: flex;
    justify-content: center;
}

.mdc-list p{
    align-self: flex-start;
    color: #969696;
    margin-left: 10px;
}

.mdc-slider{
    width: 190px;
}