 body {
    margin: 0;
    background-color: #0C101F;
    color: #ffffff;
    user-select: none;
    overflow: hidden;
}

@media only screen and (max-width:400px){
    body{
        overflow: auto;
    }
}

@media only screen and (min-width:401px) and (max-width: 960px){
    body{
        overflow: auto;
    }
}