<div class="container" [mdcElevation]="24">
    <div class="section title">
        <h1 mdcHeading1>SORTEGY: A Sorting Algorithm Visualizer</h1>
    </div>
    <div class="section button">
        <button mdc-button raised class="sortegy-btn" (click)="createRandomArray()">Create Array</button>
    </div>
    <div class="section button">
        <div mdcMenuSurfaceAnchor #algorithmAnchor>
            <button mdc-button raised class="sortegy-btn" (click)="algorithmGroup.open = !algorithmGroup.open">
                <mdc-icon>arrow_drop_down</mdc-icon>{{selectedAlgo !== '' ? selectedAlgo : 'ALGORITHMS' | uppercase}}
            </button>
            <mdc-menu #algorithmGroup [anchorElement]="algorithmAnchor" [anchorCorner]="'bottomStart'">
                <mdc-list>
                    <mdc-list-item *ngFor="let algo of algorithms" [value]="algo"
                        (click)="setAlgorithm($event.target.innerHTML)">
                        {{algo}}
                    </mdc-list-item>
                </mdc-list>
            </mdc-menu>
        </div>
    </div>
    <div class="section help">
        <div mdcMenuSurfaceAnchor #helpAnchor>
            <button mdcIconButton (click)="help.open = !help.open">
                <mdc-icon>help_outline</mdc-icon>
            </button>
            <mdc-menu #help class="info" [anchorElement]="helpAnchor" [anchorCorner]="'bottomStart'">
                <mdc-list>
                    <mdc-list-item class="description">
                        <div [innerHTML]="algoDescription"></div>
                    </mdc-list-item>
                </mdc-list>
            </mdc-menu>
        </div>
    </div>
    <div class="section button">
        <button mdc-button raised class="sortegy-btn" (click)="beginSorting()">BEGIN SORTING</button>
    </div>
</div>
<div class="mdc-snackbar">
    <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite"></div>
    </div>
</div>