@media only screen and (max-width:400px){
    div.display{
        width: 80vw;
    }
}

@media only screen and (min-width:401px) and (max-width: 960px){
    div.display{
        width: 88vw;
    }
}

.display{
    flex-grow: 1;
    width: calc(92vw - 240px);
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #BB86FC;
}

.bar{
    display: flex;
    width: 10px;
    margin: 5px;
    margin-bottom: 0;
    align-self: flex-end;
    background-color: ghostwhite;
}