@media only screen and (max-width:400px){
    div.display{
        width: 80vw;
        min-height: 300px;
    }
}

@media only screen and (min-width:401px) and (max-width: 960px){
    div.display{
        width: 88vw;
        min-height: 300px;
    }
}

.display{
    flex-grow: 1;
    width: calc(92vw - 240px);
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #6200EE;
    position: relative;
}

.bar{
    display: flex;
    flex-wrap: wrap;
    width: 10px;
    margin: 5px;
    margin-bottom: 0;
    align-self: flex-end;
    background-color: ghostwhite;
}

.display.alt{
    flex-wrap: wrap;
    align-items: center;
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    align-self: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 27px;
    border: solid 2px ghostwhite;
    height: 70px;
    width: 70px;
}